<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<!--<configuration>
  <connectionStrings>
    <add name="ApplicationServices"
         connectionString="Data Source=208.91.198.59;Initial Catalog=TestDB3;User ID=sarang; Password=admin12!@"
         providerName="System.Data.SqlClient" />
  </connectionStrings>-->

<configuration>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="Data Source=localhost;Initial Catalog=TestDB3;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <!--<add name="ApplicationServices" connectionString="Data Source=dell\sqlexpress;Initial Catalog=TestDB3;User ID=sa;Password=priti" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.0">
     <!-- <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>-->
    </compilation>
    <authentication mode="None">
      <forms loginUrl="Default.aspx" timeout="2880" />
    </authentication>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <system.net>
    <!--<mailSettings>
      <smtp deliveryMethod"SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="c:\Temp\"/>
      </smtp>
    </mailSettings>-->
  <mailSettings>
    <smtp from="noreply.cpa.company@gmail.com">
         <network host="smtp.gmail.com" port="587" userName="noreply.cpa.company@gmail.com" password="cpa123com" />
    </smtp>
</mailSettings>
  </system.net>
  
  <!--<basicHttpBinding>
    <binding name="BasicHttpBinding_IOrderService"
       closeTimeout="00:01:00"
       openTimeout="00:01:00"
       receiveTimeout="00:10:00"
       sendTimeout="00:01:00"
       allowCookies="false"
       bypassProxyOnLocal="false"
       hostNameComparisonMode="StrongWildcard"
       maxBufferSize="2147483647"
       maxBufferPoolSize="2147483647"
       maxReceivedMessageSize="2147483647"
       messageEncoding="Text"
       textEncoding="utf-8"
       transferMode="Buffered"
       useDefaultWebProxy="true">
      <readerQuotas
       maxDepth="2147483647"
       maxStringContentLength="2147483647"
       maxArrayLength="2147483647"
       maxBytesPerRead="2147483647"
       maxNameTableCharCount="2147483647" />
      <security mode="None">
        <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
        <message clientCredentialType="UserName" algorithmSuite="Default" />
      </security>
    </binding>
  </basicHttpBinding>
  </bindings>
  <client>
    <endpoint name="BasicHttpBinding_IOrderService" bindingConfiguration="BasicHttpBinding_IOrderService" behaviorConfiguration="LargeQuotaBehavior"
     address="http://127.0.0.1/wcf/OrderService.svc"
                 binding="basicHttpBinding"
     contract="IOrderService" />
    </endpoint>
  </client>
  <behaviors>
    <endpointBehaviors>
      <behavior name="LargeQuotaBehavior">
        <dataContractSerializer maxItemsInObjectGraph="2147483647" />
      </behavior>
    </endpointBehaviors>
  </behaviors>-->
</configuration>